*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{padding: 2% 4%;
  background-color: #141414;
}
.containerCronometros{
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 2% 4%;
  grid-template-columns: repeat(3,1fr);
  gap:4%
}
.card{
  aspect-ratio: 2/1;
  position: relative;
}

.btnMover{
  height: 50px;
  width: 50px;
  border-radius: 20px;
  transition: all 0.3s ease;
  visibility: hidden;
  position: absolute;
  top: 50%;
  z-index: 111;
  transform: translateY(-50%);
}
.btnMover::after{
  color: lawngreen;
  position: absolute;
  content: "<";
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.btnMover.moverDireita::after{
  content: ">";
}
.moverDireita{
  right: -60px;
}
.moverEsquerda{
  left: -60px;
}
#primeiroContador{
  margin-top: 30px;
}
.card,
.containerBotoes button{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0a0a0a;
  border: 1px solid black;
  border-radius: 20px;
  padding: 4%;
  color: lawngreen;
  appearance: none;
  transition: all 0.4s ease;
  font-size: 18px;
}
.card:hover,
.containerBotoes button:hover{
  border-color: lawngreen;
}
.card:hover .btnMover{
  box-shadow: rgba(126, 252, 0, 0.35) 0px 5px 15px;
  visibility: visible;
  background-color: #1d1d1d;
}
.containerContador{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4%;
  font-size: 30px;
}
.containerBotoes{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #1d1d1d;
  border-radius: 20px;
  padding: 2%;
}
@media(max-width:670px){
  .containerBotoes{
    flex-direction: column;
    gap: 5px;
  }
}
#append{
  appearance: none;
  border: 1px solid lawngreen;
  border-radius: 20px;
  position: relative;
  background-color: #1d1d1d;
  height: 50px;
  width: 50px;
  margin-bottom: 2%;
}
#append::after{
  font-size: 24px;
  background-color: #1d1d1d;
  content: '+';
  position: absolute;
  top: 50%;
  left: 50%; 
  color: white;
  transform: translate(-50%,-50%);
}
.containerExcluir{
  width: 100%;
  display: flex;
  justify-content: end;
}
.btnExcluir{
  width: 30px;
  height: 30px;
  background-color: rgb(102, 0, 0);
  position: relative;
  appearance: none;
  border: 1px solid lawngreen;
  border-radius: 10px;
}
.btnExcluir::after{
  position: absolute;
  content: "x";
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}